@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&display=swap');

body {
    background-color: #d5e1ef;    
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
}

main {
    background-color: #ffffff;
    width: 205px;
    padding: 10px;
    margin: 4%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#qrCode {
    width: 200px;
    align-self: center;
    border-radius: 10px;
}

/*text inside main [no img]*/
.textInside {
    margin: 5px;
    text-align: center;    
    font-size: 15px;
}

.attribution {
    font-size: 11px;
    margin: 10% auto 0% auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}